@using Kendo.Mvc.UI;
@using GoSport.Client.Areas.Administration.ViewModels
@model IEnumerable<AdminAddressViewModel>
<h2>Sport centers administration</h2>
@(Html.Kendo()
    .Grid(Model)
    .Name("grid")
    .Columns(cols =>
    {
        cols.AutoGenerate(true);
        cols.Command(c => c.Edit());
        cols.Command(c => c.Destroy());
    })
    .ColumnMenu()
    .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
    .Groupable()
    .Filterable(f => f.Mode(GridFilterMode.Menu))
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(data => data
        .Server()
        .Total((int)ViewData["total"])
        .Model(m => m.Id(x => x.Id))
        .Read(read => read.Action("Index", "Addresses"))
        .Create(create => create.Action("Create", "Addresses"))
        .Update(update => update.Action("Edit", "Addresses"))
        .Destroy(destroy => destroy.Action("Delete", "Addresses"))))



