@using Kendo.Mvc.UI;
@using GoSport.Client.Areas.Administration.ViewModels;
@model IEnumerable<AdminSportCenterViewModel>
@{
    ViewBag.Title = "View";
}
<h2>Sport centers administration</h2>
@(Html.Kendo()
    .Grid(Model)
    .Name("grid")
    .Columns(cols =>
    {
        cols.AutoGenerate(true);
        cols.Command(c => c.Edit());
        cols.Command(c => c.Destroy());
    })
    .ColumnMenu()
    .Pageable()
    .Sortable()
    .Groupable()
    .Filterable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(data =>
    data
    .Ajax()
    .Model(m => m.Id(x=>x.Id))
    .Read(read => read.Action("Read", "SportCenters"))
    .Create(create => create.Action("Create", "SportCenters"))
    .Update(update => update.Action("Edit", "SportCenters"))
    .Destroy(destroy => destroy.Action("Delete", "SportCenters"))))
    


