@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Этот сайт создан для того, чтобы легче находить место для занятий спортом в том районе, где вы живете или посещаете. Наслаждайтесь!
</p>
