@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Minsk, Belarus<br />
    <abbr title="Phone">P: </abbr> 37529-217-97-56
</address>

<address>
    <strong>Помощь:</strong>   <a href="mailto:sqvoch@gmail.com">sqvochS@gmail.com</a><br />
</address>