body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.upload {
    background-color: #d3ffea;
        padding-right: 15px;
    margin-right: 15px;
    width: 80px;
    height: 22px;
    background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQSs-UVTOm7xZhozm0qKHBxg8EULJWo4Tsw2mZFBIZr8TeguH87qg);
    overflow: hidden;
}

    div.upload input {
        width:110px;
        margin-left:10px;
        margin-right:10px;
        background-color: #d3ffea;
        display: block !important;
        width: 157px !important;
        height: 57px !important;
        opacity: 0 !important;
        overflow: hidden !important;
    }

.bx-wrapper img {
    margin: 0 auto;
}

/* 'star-rating' component */
.starRate {
    position: relative;
    margin: 3px;
    overflow: hidden;
    zoom: 1;
}

    .starRate ul {
        width: 160px;
        margin: 0;
        padding: 0;
    }

    .starRate li {
        display: inline;
        list-style: none;
    }

    .starRate a, .starRate b {
        background: url(../../Content/Rating/star_rate.gif) left top repeat-x;
    }

    .starRate a {
        float: right;
        margin: 0 80px 0 -144px;
        width: 80px;
        height: 16px;
        background-position: left 16px;
        color: #000;
        text-decoration: none;
    }

        .starRate a:hover {
            background-position: left -32px;
        }

    .starRate b {
        position: absolute;
        z-index: -1;
        width: 80px;
        height: 16px;
        background-position: left -16px;
    }

    .starRate div b {
        left: 0px;
        bottom: 0px;
        background-position: left top;
    }

    .starRate a span {
        position: absolute;
        left: -300px;
    }

    .starRate a:hover span {
        left: 90px;
        width: 100%;
    }

body {
    background-color: #d3ffea;
}

.sport-center-info {
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #18bc9c;
    margin: 1em 0;
    padding: 0;
}

.add-comment {
    background-color: #b7f7d8;
    border-radius: 10px;
}

.comment {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #B7F7D8;
}

.wallpaper{
    padding-top:120px;
    background-image:url(http://hongkong.asiaxpat.com/Splash/images/hk_Activities/football.jpg);
    height:400px;
}