@using GoSport.Client.ViewModels
@model AddressViewModel
<div class="form-group">
    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.City, new SelectList(ViewBag.Cities, "Id", "City"), "None", new { @class = "form-control", id = "city-drop-down" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Neighborhood, new { @class = "col-md-2 control-label" })
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.Neighborhood, new SelectList(new string[] { }), "None", new { @class = "form-control", id = "neighbour-drop-down" })
    </div>
</div>