@using GoSport.Data.Models
@model IEnumerable<Comment>
<h1 class="row text-center">Комментарии</h1>
@if (Model.OrderByDescending(x => x.CreatedOn).ToList().Count() == 0)
{
        <<div class="row text-center">Добавленных комментариев нет...</div>
}
else
{
    foreach (var comment in @Model.OrderBy(x => x.CreatedOn).ToList())
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 comment">
                <div class="row">
                    <div class="col-md-3">@comment.Author.Name:  </div>
                    <div class="col-md-9">"@comment.Content"</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Дата создания:  </div>
                    <i class="col-md-4">@comment.CreatedOn</i>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    }
}