@using GoSport.Client.ViewModels
@model RatingViewModel
    <div class="starRate col-md-6" data-rating-type="@Model.RatingType" data-sport-center-id="@Model.SportCenterId">
        <button value="1" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
        <button value="2" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
        <button value="3" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
        <button value="4" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
        <button value="5" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
    </div>