@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Закрыто.</h1>
    <h2 class="text-danger">
        Эта учетная запись заблокирована, повторите попытку позже.
    </h2>
</hgroup>
